* {

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.title {
  background-color: #33BEBE


}
.app {
    display: flex;
}

.screenshot
{
  margin-top: 15px;
  margin-right: 20px;
  max-width: 460px ;
}

.description
{
  margin-top: 15px;
  margin-right: 20px;
  max-width: 705px;
  text-decoration-color: #7C8B88;
}
